<ion-view view-title="Friends">
  <ion-content class="padding">
    <h2>{{viewTitle}}</h2>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="dashCtrlAlias.inputSearch.name">
    </label>
    <div class="item item-input">
      <span class="input-label">Name</span>
      <input placeholder="Enter value" ng-model="dashCtrlAlias.viewTitle">
    </div>
    <button class="button button-positive button-block" ng-click="toggleListShow()">Click Me!</button>

    <div class="list" unless="" my-var="showList">
      <div class="item item-text-wrap" ng-repeat="userItem in dashCtrlAlias.usersJSON | limitArr : 5 | filter : dashCtrlAlias.inputSearch ">
        {{userItem.name | customLimit : 3}}
        <!--{{userItem.name}}-->
      </div>
    </div>
  </ion-content>
</ion-view>
